/*
Theme Name: Whoop Child Theme
Theme URI: http://wpgeodirectory.com/
Author: GeoDirectory
Author URI: http://wpgeodirectory.com/
Template: GeoDirectory_whoop
Description: This theme was built to be used with the GeoDirectory plugin . You should use a child theme.
Version: 1.1.0
License: GPLv2 or greater
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: left-sidebar, right-sidebar, one-column, two-columns, theme-options, custom-header, custom-background, fluid-layout, responsive-layout, accessibility-ready, translation-ready, microformats, rtl-language-support
Update URL: https://wpgeodirectory.com
Update ID: 65902
*/
body{
  background-color:#f5f5f1;
}
.tamzang_header{
  /* url("images/test.jpg");*/
  padding-top: 30px;
  height: 570px;
  background-color: #333;
  background-size: cover;
  background-position: 50%;
}

.tamzang_header_content{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.tamzang_inner{
  padding-top: 120px;
}

.tamzang_logo_center{
  text-align: center !important;
}

.tamzang_header_wrapper{
  padding-bottom: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.tamzang_header_menu ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.tamzang_header_menu ul li{
  display:inline-block;
  vertical-align: top;
  margin-right:1px;
}

/* tamzang_place_widget style */
.tamzang-cat-list{
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.tamzang-contentwrap{
  padding-top: 42px;
}

.tamzang-cat-title{
  font-size: 21px;
  text-align: center;
  color: #e34f43;
  font-weight: 400;
  margin: 0 0 6px;
}

.tamzang-cat-list-wrapper{
  display: block;
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.tamzang-place-arrange-30{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.tamzang-place-border{
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tamzang_login_wrapper{
  width: 100%;
  display: table;
  table-layout: auto;
  border-collapse: separate;
  text-align: right;
}

.arrange_unit{
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
  white-space: nowrap;
}

.no-border-right{
  border-right: 0px !important;
}

.tamzang-signup-button{
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  border: 2px solid #fff;
  padding: 7px 24px 8px;
}

.f-col-3 ul{
  display: inline-block;
}

.f-col-3 ul li{
  list-style: none;
}

/* center nav menu at header */
header nav {
  display: flex;
  justify-content: center;
}

.geodir_price_package_row,.whoop-share-button {display: none;}
#geodir_post_tags_row,
#geodir_post_latitude_row,
#geodir_post_longitude_row {
    display:none!important;
}

.paoc-popup-modal-cnt{ background-color: #FFF; padding: 20px;}

.pagination .active a,.pagination .active a:hover{
  background-color:#ed6d62;
  border-color:#ed6d62;
}

.locations_list{
  float: left;
}

ul .region{
  margin-top: 10px;
}

.locations_list li{
  margin-right: 10px;
  padding: 0px;
  width: 180px;
  line-height: 20px;
}





/* Tamzang Product list css */
.tamzang-flex {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center; /* Or space-between or space-around */
}

.tamzang-flex > section {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  min-width: 250px;
  max-width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.tamzang-flex > section > p {
  flex-grow: 1;
}

/* This rule ist just because of the responsive images */
@media (max-width: 1600px) {
  .tamzang-flex > section {
    max-width: 250px;
  }
}

.tamzang-flex ul {
  display: flex;
  justify-content: space-between;
}

.tamzang-flex aside {
  width: 100%;
}

/* Basic styling for UI */

.tamzang-product-featured-img {
  width: 400px;
  border-radius: 2px;
}

@media (max-width: 1600px) {
  .tamzang-product-featured-img{
    width: 250px;
  }
}

.flex > section {
  background: #fff;
  padding: 1em;
  margin: 0.5em;
  border-radius: 4px;
}

.tamzang-cart-button {
  background: #e34f43 url(http://i.imgur.com/RWKrr8S.png);
  background-repeat: no-repeat;
  background-position: 2em 50%;
  background-size: 2em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  padding: 1.5em 3em;
  padding-left: 6em;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

.tamzang-cart-button:hover {
  background-color: #ed6d62;
  background-size: 3em;
  background-position: 1.5em 50%;
}

.tamzang-flex ul {
  list-style-type: none;
  padding: 0;
}

.tamzang-flex li {
  background: #eee;
  font-weight: 700;
  padding: 0.3em 0.6em;
  border-radius: 1em;
}

.modal.loading .modal-content:before {
    content: 'รอสักครู่...';
    text-align: center;
    line-height: 155px;
    font-size: 20px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EEE;
    z-index: 1000;
}

form .error {
  color: #ff0000;
}

#tamzang_cart_count{
  position: absolute;
  /* display: none; */
  top: 10px;
  left: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background: red; */
  color: black;
  text-align: center;
}

/* .modal2 {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://sampsonresume.com/labs/pIkfp.gif')
                50% 50%
                no-repeat;
} */

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
/* body.loading {
    overflow: hidden;
} */

/* Anytime the body has the loading class, our
   modal element will be visible */
/* body.loading .modal2 {
    display: block;
} */

.wrapper-loading {
    position: relative;
}
.cart-loading:before {
  content: 'รอสักครู่...';
  text-align: center;
  line-height: 155px;
  font-size: 20px;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #EEE;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.tamzang_cart{
  width:400px;
  float:right;
  background-color:white;
  position: absolute;
  right: 0;
  /* top: 125px; */
}

@media only screen and (min-width: 400){
  .tamzang_cart{
    top: 286px;
  }
}

@media only screen and (min-width: 635){
  .tamzang_cart{
    top: 228px;
  }
}

@media only screen and (min-width: 768px){
  .tamzang_cart{
    top: 145px;
  }
}

@media only screen and (min-width: 1040px){
  .tamzang_cart{
    top: 125px;
  }
}



.tamzang-cart-fixed{
  position: fixed;
  top:0px;
  margin-left: 1500px;
}
